services:
  terrahacks:
    image: postgres
    restart: always
    container_name: terrahacks
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: example
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres

volumes:
  postgres:
